version: '3.7'
services:
  vsftpd:
    image: panubo/vsftpd
    environment:
      - FTP_USER=jorge
      - FTP_PASSWORD=123
    volumes:
      - /home/vagrant/compartidoFTP:/srv
    expose:
      - 21
    network_mode: host

