apiVersion: apps/v1
kind: Deployment
metadata:
  name: micro2-p2-deployment
spec:
  selector:
    matchLabels:
      app: micro2-p2
  replicas: 3
  template:
    metadata:
      labels:
        app: micro2-p2
    spec:
     containers:
     - name: micro2-p2
       image: jandresjn/micro2-p2:v1
       imagePullPolicy: Always
       ports:
       - containerPort: 8080